/*ABOUT SECTION*/
.flex-container-about {
    width: 100%;
    height: 698px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.flex-content-about-img {
    background-image: url("../assets/shared/mobile/image-best-gear.jpg");
    background-size: cover;
    width: 327px;
    height: 300px;
    border-radius: .5rem ;
    margin-bottom: 40px;
}

.flex-content-about-text h2 {
    letter-spacing: 1px;
    height: 76px;
    margin-bottom: 32px;
    margin-top: 0;
}

.flex-content-about-text h2 span {
    color: var(--primary);
}

.flex-content-about-text p {
    height: 250px;
    color: var(--tertiary);
    opacity: 50%;
    text-align: center;
    margin: 0;
}

/*MEDIA QUERY SCREEN SIZES*/
/*Tablet (M)*/
@media (min-width: 768px) {
    /*ABOUT SECTION*/
    .flex-container-about {
        width: 100%;
        height: 633px;
        margin-bottom: 96px;
    }

    .flex-content-about-img {
        background-image: url("../assets/shared/tablet/image-best-gear.jpg");
        width: 689px;
        height: 300px;
        margin-bottom: 63px;
    }

    .flex-content-about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-content-about-text h2 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 0.089rem;
        width: 573px;
        height: 88px;
    }

    .flex-content-about-text p {
        height: 150px;
        width: 573px;
    }
}

/*Desktop (XL) */
@media (min-width: 1280px) {
    /*ABOUT SECTION*/
    .flex-container-about {
        height: 588px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .flex-content-about-img {
        background-image: url("../assets/shared/desktop/image-best-gear.jpg");
        width: 540px;
        height: 588px;
        margin: 0;
    }

    .flex-content-about-text {
        display: flex;
        align-items: center;
        width: 445px;
        height: 295px;
        margin: 146px 123px 147px 0;
    }

    .flex-content-about-text h2 {
        text-align: left;
        width: 445px;
    }

    .flex-content-about-text p {
        text-align: left;
        height: 175px;
        width: 445px;
    }
}