h1 {
    color: var(--secondary);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .08rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 24px;
}

h4 {
    color: var(--secondary);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .08rem;
    text-align: center;
    height: 5rem;
    width: 280px;
    margin: 294px auto 24px;
}

/*HERO BANNER*/
.hero-banner-inner-container {
    position: relative;
}

.hero-banner-section {
    background-image: url("../assets/home/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.hero-banner-content {
    width: 328px;
    height: 290px;
    margin: 198px auto 112px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner-content h3 {
    color: var(--secondary);
    opacity: 49.64%;
    margin: 0;
}

.hero-banner-content p {
    margin: 0 0 28px 0;
}

/*MAIN*/
.outer-container-main {
}

.inner-container-main {
}

    /*Page Navigation Cards*/
.page-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2.5rem;
    gap: 1rem;
}

.page-card {
    width: 327px;
    height: 217px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}

.page-card:hover {
    cursor: pointer;
}

.card-header {
    height: 52px;
    background-color: transparent;
}

.card-body {
    background-color: var(--color-card);
    height: 165px;
    border-radius: .5rem;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    bottom: 36px;
    position: relative;
}

.card-headphones-img {
    background-image: url("../assets/home/mobile/img.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 120px;
    height: 110px;
}

.card-speaker-img {
    background-image: url("../assets/home/mobile/img_2.png");
    background-size: cover;
    margin: auto;
    width: 120px;
    height: 110px;
    bottom: 39px;
}

.card-earphones-img {
    background-image: url("../assets/home/mobile/img_1.png");
    background-size: cover;
    margin: auto;
    width: 120px;
    height: 110px;
    bottom: 36px;
}

.card-content {
    position: relative;
    bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-category-text {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.067rem;
    text-align: center;
    margin-bottom: 17px;
}

/*MEDIA QUERY SCREEN SIZES*/
/*Tablet (M)*/
@media (min-width: 768px) {
    h1 {
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
        margin: 24px 0;
    }

    /*HERO BANNER Tablet*/
    .hero-banner-section {
        background-image: url("../assets/home/tablet/image-header.jpg");
    }

    header .checkout-btn {
        margin-left: auto;
    }

    .hero-banner-content {
        width: 379px;
        height: 346px;
        margin-top: 216px;
    }

    .hero-banner-content p {
        margin: 0 0 40px 0;
    }

    /*MAIN Tablet*/
    /*Page Navigation Cards*/
    .page-card-container {
        flex-direction: row;
        margin-top: 6rem;
        gap: 10px;
    }

    .page-card {
        width: 689px;
        height: 217px;
    }
}

/*Desktop (XL) */
@media (min-width: 1280px) {
    h1 {
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
        margin: 24px 0;
    }

    /*HERO BANNER*/
    .hero-banner-section {
        background-image: url("../assets/home/desktop/image-hero.jpg");
        background-size: cover;
    }

    .hero-banner-content {
        width: 398px;
        height: 346px;
        margin-top: 225px;
        margin-left: 0;
        text-align: left;
    }

    .hero-banner-section h3 {
        align-self: flex-start;
    }

    .hero-banner-section p {
        width: 349px;
        align-self: flex-start;
        margin-bottom: 40px;
    }

    .hero-banner-section a {
        align-self: self-start;
    }

    /*MAIN*/

    /*Page Navigation Cards*/
    .page-card-container {
        margin-top: 7.5rem;
        gap: 30px;
    }

    .page-card {
        width: 350px;
        height: 263px;
    }

    .card-header {
        height: 59px;
    }

    .card-body {
        height: 204px;
    }

    .card-headphones-img img {
        width: 7.684rem;
        height: 160px;
    }

    .card-speaker-img img {
        width: 7.593rem;
        height: 146px;
        bottom: 2.656rem;
    }

    .card-headphones-img img {
        width: 125px;
        height: 126px;
        bottom: 49px;
    }

    .card-content {
        bottom: 30px;
    }

    .card-category-text {
        font-size: 18px;
        letter-spacing: 0.081rem;
        margin-bottom: 15px;
    }
}