:root {
    --primary: #D87D4A;
    --primary-active: #fbaf85;
    --secondary: #FFF;
    --tertiary: #000;
    --color-background: #FAFAFA;
    --color-card: #F1F1F1;
    --color-footer: #101010;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: 'Manrope', sans-serif;
    margin: 0;
    min-height: 100vh;
}

h2 {
    color: var(--tertiary);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}



h3 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 10px;
}

P {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--secondary);
    opacity: 75%;
}

.btn {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 160px;
    height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
}

.btn-1 {
    color: var(--secondary);
    background-color: var(--primary);
}

.btn-1:hover {
    background-color: var(--primary-active);
}

.btn-2 {
    color: var(--secondary);
    background-color: var(--tertiary);
}

.btn-2:hover {
    color: var(--tertiary);
    background-color: var(--secondary);
    border: solid 1px var(--tertiary);
}

.btn-2-vol2 {
    color: var(--tertiary);
    background-color: transparent;
    border: solid 1px var(--tertiary);
}

.btn-2-vol2:hover {
    color: var(--secondary);
    background-color: var(--tertiary);
}


.btn-3 {
    width: 3.583rem;
    height: 18px;
}

.btn-3-text {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: var(--tertiary);
    opacity: 50%;
}

.btn-3-text:hover {
    color: var(--primary);
}


ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*HEADER - NAV*/
.outer-container-header {
    background-color: #191919;
    height: 600px;
}

.inner-container {
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid rgb(151 151 151 / 10%);
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav-desktop {
    display: none;
}

/*nav burger menu*/
#toggleBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*Header/Footer - Navigation Links*/
a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
}

a:hover, a:focus {
    color: var(--primary);
}

/*FOOTER*/
.outer-container-footer {
    background-color: var(--color-footer);
    height: 654px;
}

.inner-container-footer {
    position: relative;
}

/*section top rectangle*/
.top-rectangle {
    height: 4px;
    width: 101px;
    background: url("../assets/img.png");
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
}

.logo-footer {
    height: 25px;
}

.flex-container-desktop {
    margin-top: 52px;
}

/*footer navigation*/
.nav-footer {
    margin: 48px auto;
}

.nav-footer ul {
    flex-direction: column;
    gap: 16px;
}

/*footer text*/
.footer-text-about {
    width: 327px;
    margin: 0 auto 48px auto;
}

.text-copyright {
    width: 258px;
    margin: 0 auto 48px auto;
    font-weight: 700;
}

/*footer social*/
.socials-container {
    display: flex;
    justify-content: center;
}

.social-list {
    width: 104px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.social-list li {
    position: relative;
    height: 100%;
    width: 24px;
}

.social-list a {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
}

.icon:hover {
    fill: var(--primary);
}


/*MEDIA QUERY SCREEN SIZES*/

    /*Tablet (M)*/
@media (min-width: 768px) {

    /*HEADER - NAV*/
    .outer-container-header {
        height: 729px;
    }

    .inner-container {
        max-width: 689px;
    }

    header {
        justify-content: flex-start;
        gap: 42px;
    }

    /*FOOTER*/
    .outer-container-footer {
        height: 400px;
    }

    /*section top rectangle*/
    .top-rectangle{
        left: 50px;
    }

    footer {
        text-align: left;
    }

    .logo-footer {
        margin-top: 60px;
        margin-bottom: 2rem;
    }

    .nav-footer {
        margin: 0;
    }

    /*footer navigation*/
    /*footer navigation*/
    .nav-footer {
        margin: 32px auto;
    }

    .nav-footer ul {
        flex-direction: row;
        gap: 34px;
        margin-bottom: 2rem;
    }

    /*footer text*/
    .footer-text-about {
        width: 689px;
        text-align: left;
        margin-bottom: 5rem;
    }

    .text-copyright {
        margin: 0;
    }

    /*Footer bottom flex container
      for tablet/desktop */
    .flex-container-tablet {
        display: flex;
        height: 25px;
        margin-bottom: 46px;
    }

    .flex-content-copyright {
        flex: 1;
    }
}

    /*Desktop (XL) */
@media (min-width: 1280px) {
    /*HEADER - NAV*/
    .outer-container-header {
        height: 729px;
    }

    .inner-container {
        max-width: 1110px;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-toggle-btn {
        display: none;
    }

    .nav-desktop {
        margin: 0 auto;
        display: block;
    }

    .nav-desktop ul {
        gap: 34px;
    }

    /*FOOTER*/
    .outer-container-footer {
        height: 365px;
    }

    .nav-footer {
        margin: 0;
    }

    footer {
        text-align: left;
    }

    .logo-footer {
        margin: 0;
    }

    /*footer text*/
    .footer-text-about {
        width: 540px;
        text-align: left;
        margin: 36px 0 56px;
    }

    .text-copyright {
        height: 25px;
        margin-bottom: 3rem;
    }

    .flex-container-tablet {
        align-items: center;
    }

    .flex-content-copyright{
        height: 24px;
    }

    .flex-content-social {
        height: 24px;
        margin-bottom: 136px;
    }

    .flex-container-desktop {
        height: 25px;
        display: flex;
        margin-top: 75px;
    }

    .flex-content-logo {
        flex: 1;
    }
}
